@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">CyberMusix</h1>
            <p class="lead">The first secure music streaming service</p>
        </div>
    </div>
</div>
