@{
    ViewData["Title"] = "Помилка входу";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Session Error</h1>
            <p class="lead">You are not logged in or your session has expired.</p>
            <button asp-action="Index" asp-controller="Home">Back to main menu</button>
        </div>
    </div>
</div>
